.post-thumbnail {
    width: 100%;
    height: auto;
}

.overlay:hover{
    opacity: 0.8;
}

.back-home-text{
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: underline;
}

.back-home-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.icon-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.back-link:hover{
    text-decoration: none;
}

.fa-arrow-circle-left:hover{
    color: #0085a1 !important;
}

.comment-container{
    background-color: lightgrey;
}

.comment-author{
    text-decoration: underline;
    color: #0c5460;
}

.avatar-img{
    max-width: 50px;
    height: auto;
}

.comment-answer{
    position: absolute;
    bottom: -10px;
    right: -10px;
}

.row-content{
    position: relative;
}

.scroll-btn{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    background-color: #0085a1 !important;
    opacity: 0.7;
}

.scroll-btn:hover{
    color: white;
    opacity: 1;
}