{% extends "base-page.html.twig" %}


{% block headTitle %} OOPS ! 403 ! {% endblock %}
{% block headerURL %} 'img/error-page.jpg' {% endblock %}

{% block backHome %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Oops, Une erreur 403 !</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    Cela veut dire que vous n'avez pas les droits suffisants pour accéder à cette page.
                </p>
                <img src="https://media.giphy.com/media/9WMbakqXueAbS/giphy.gif" alt="get out" width="70%">
            </div>
        </div>
    </div>
{% endblock %}