{% extends "base-page.html.twig" %}


{% block headTitle %} OOPS ! 404 ! {% endblock %}
{% block headerURL %} '../public/img/error-page.jpg' {% endblock %}

{% block backHome %}{% endblock %}

{% block content %}
    <div class="container">
       <div class="row">
           <div class="col-12">
               <h1>Oops, Une erreur 404 !</h1>
           </div>
       </div>
        <div class="row">
            <div class="col-12">
                <p>
                    Cela veut dire que je n'ai pas trouvé la page que vous demandiez. Mais pas de panique, il en reste bien d'autres très sympa à visiter !
                </p>
                <p>Vous les trouverez sur cette <a href="../public/index.php?action=listPosts">page</a></p>
            </div>
        </div>
    </div>
{% endblock %}