{% extends "base-page.html.twig" %}


{% block headTitle %} Thomas LEFEBVRE - Développeur Backend {% endblock %}
{% block headerURL %} '../public/img/header-home2.jpg' {% endblock %}
{% block headerTitle %} Développeur Backend {% endblock %}
{% block headerSubtitle %} Construisons les fondations de votre activité {% endblock %}

{% block backHome %}{% endblock %}

{% block content %}
    <div class="container">
        TEST
    </div>
{% endblock %}