<!DOCTYPE html>
<html lang="fr">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>{% block headTitle %}{% endblock %}</title>
            <!-- Fontawesome CDN, Google Fonts API -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
                  integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
                  crossorigin="anonymous">
            <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
                  type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
                  rel='stylesheet' type='text/css'>
            <!-- Bootstrap CSS, Boilerplate CSS, Custom CSS -->
            <link rel="stylesheet" href="../public/css/bootstrap.min.css">
            <link rel="stylesheet" href="../public/css/clean-blog.min.css">
            <link rel="stylesheet" href="../public/css/custom-style.css">
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="../public/index.php">Thomas LEFEBVRE</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" style="display: flex; justify-content: center; align-items: center">
                    <li class="nav-item">
                        <a class="nav-link" href="../about.html">à propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">cv</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../contact.html">contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <!--<a class="nav-link" href="../public/index.php?action=showAdmin">
                            <i class="fas fa-user fa-2x"></i>
                        </a>-->
                            <a id="dropdownMenu" class="btn text-white dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="fas fa-user"></i>
                            </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="left: -180px;">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Connexion</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="../public/index.php?action=register">Pas de compte ? Créez en un !</a>
                            <a class="dropdown-item" href="#">Password oublié ?</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <header class="masthead" style="background-image: url({% block headerURL %} '../public/img/header-home.jpg' {% endblock %})">
        <!-- Mettre l'image en variable twig et stocker sa reference en base, réhydrater et tout -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>{% block headerTitle %}{% endblock %}</h1>
                            <span class="subheading">{% block headerSubtitle %}{% endblock %}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% block backHome %}
            <div class="row">
                <div class="col-12 mx-auto d-flex justify-content-end">
                    <a class="back-link" href="../public/index.php">
                        <div class="back-home-container">
                            <span class="back-home-text">Retour à l'accueil</span>
                        </div>
                    </a>
                </div>
            </div>
        {% endblock %}
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% block footer %}
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://stackoverflow.com/users/12820277/thomasldev" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fas fa-circle fa-stack-2x"></i>
                                      <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="mailto:contact@thomas.lefebvre.fr" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fas fa-circle fa-stack-2x"></i>
                                      <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/ThomasLdev" target="_blank">
                                    <span class="fa-stack fa-lg">
                                      <i class="fas fa-circle fa-stack-2x"></i>
                                      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">&copy; Copyright 2020 par <a href="http://www.thomas-lefebvre.fr">Thomas LEFEBVRE</a></p>
                    </div>
                </div>
            </div>
        {% endblock %}
    </footer>

    <!-- Bootstrap core jquery and javaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <!-- Boilerplate javascript -->
    <script src="public/js/clean-blog.min.js"></script>
    </body>
</html>