{% for comment in comments %}
    {% if comment.status != 0 %}
<div class="container comment-container mb-5">
    <div class="row">
        <div class="col-8 d-flex justify-content-start align-items-center">
            <div class="avatar">
                <img class="avatar-img" src="../public/img/avatars/default.png" alt="{{ comment.authorComment }}">
            </div>
            <p class="pl-2"><span class="comment-author">{{ comment.authorComment }}</span></p>
        </div>
        <div class="col-4">
            <p class="text-right pr-3">
                le
                {{ comment.createdAt|date("d/m/Y") }}
            </p>
        </div>
    </div>
    <hr class="m-0" />
    <div class="row row-content">
        <div class="col-12">
            <p class="pl-3">{{ comment.content }}</p>
        </div>
    </div>
</div>
    {% endif %}
{% endfor %}