extends "base-page.html.twig" %}


{% block headTitle %} Thomas LEFEBVRE - Contact {% endblock %}
{% block headerURL %} '../public/img/header-home2.jpg' {% endblock %}
{% block headerTitle %} Thomas Lefebvre <br>
    <hr class="bg-white">

{% endblock %}
{% block headerSubtitle %} Developpeur Backend PHP <br>Construisons les fondations de votre activité {% endblock %}

{% block backHome %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    Merci de m'avoir contacté !
                </p>
                <p>
                    Je reviendrai vers vous dans les plus brefs délais.
                </p>
                <p>
                    A bientot :>)
                </p>
            </div>
        </div>
    </div>
{% endblock %}