{% extends "base-page.html.twig" %}


{% block headTitle %} Thomas LEFEBVRE - Contact {% endblock %}
{% block headerURL %} '/img/header-home2.jpg' {% endblock %}
{% block headerTitle %} Thomas Lefebvre <br>
    <hr class="bg-white">

{% endblock %}
{% block headerSubtitle %} Developpeur Backend PHP <br>Construisons les fondations de votre activité {% endblock %}

{% block backHome %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-center">
                    Merci de m'avoir contacté !
                </p>
                <p class="text-center">
                    Je reviendrai vers vous dans les plus brefs délais.
                </p>
                <p class="text-center">
                    A bientot :>)
                </p>
                <p class="text-center">
                    D'ici là, pourquoi ne pas lire un <a href="/">nouvel article</a> ?
                </p>
            </div>
        </div>
    </div>
{% endblock %}