{% extends "base-page.html.twig" %}


{% block headTitle %} Thomas LEFEBVRE - Contact {% endblock %}
{% block headerURL %} '../public/img/header-home2.jpg' {% endblock %}
{% block headerTitle %} Thomas Lefebvre <br>
    <hr class="bg-white">

{% endblock %}
{% block headerSubtitle %} Developpeur Backend PHP <br>Construisons les fondations de votre activité {% endblock %}

{% block backHome %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <object class="cv-pdf"
                        data='../public/files/cv-lefebvre-thomas.pdf'
                        type="application/pdf"

                >

                    <iframe class="cv-pdf"
                            src='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'

                    >
                        <p>This browser does not support PDF!</p>
                    </iframe>

                </object>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">Vous êtes intéressé.e par mes compétences ? Contactez-moi sur ce <a href="../public/index.php?action=contact">formulaire</a></p>
            </div>
        </div>
    </div>
{% endblock %}