<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Veuillez vous enregistrer</title>
    <!-- Fontawesome CDN, Google Fonts API -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
          crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS, Boilerplate CSS, Custom CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/clean-blog.min.css">
    <link rel="stylesheet" href="../public/css/register-style.css">
</head>

<body class="text-center">

<a href="../public/index.php" type="button" class="btn btn-lg btn-danger" style="position: absolute; top: 0; left: 0;"><i class="fas fa-arrow-circle-left fa-2x"></i></a>

<form class="form-signin" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Veuillez entrer les informations suivantes</h1>

    <label for="inputFirstName" class="sr-only">Prénom</label>
    <input type="text" id="inputFirstName" name="first_name" class="form-control p-6 mb-2" placeholder="Prénom" required="" autofocus="">

    <label for="inputLastName" class="sr-only">Nom de famille</label>
    <input type="text" id="inputLastName" name="last_name" class="form-control p-6 mb-2" placeholder="Nom de famille" required="" autofocus="">

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="email" class="form-control p-6 mb-2" placeholder="Email" required="" autofocus="">

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control p-6 mb-2" placeholder="Password" required="">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Créer le compte</button>
</form>


<!-- Bootstrap core jquery and javaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<!-- Boilerplate javascript -->
<script src="../public/js/clean-blog.min.js"></script>
</body>
</html>